table,
th,
td {
  border: 1px solid black;
  width: 100vw;
}

.mainComp{
  text-align: center;
}

.upd-div{
  background-color: beige;
  cursor: pointer;
}
.del-div{
  background-color: grey;
  cursor: pointer;
}
.add-div{
  margin-bottom: 3px;
  width: 31%;
  float: right;
  background-color: greenyellow;
  border: 1px solid black;
}